[submodule "php"]
	path = php
	url = https://github.com/php/php-src.git
[submodule "php-ext/PHP-CPP"]
	path = php-ext/PHP-CPP
	url = https://github.com/CopernicaMarketingSoftware/PHP-CPP.git
[submodule "FLTK"]
	path = FLTK
	url = https://github.com/IngwiePhoenix/FLTK.git
[submodule "uvpp"]
	path = uvpp
	url = https://github.com/larroy/uvpp.git
[submodule "libuv"]
	path = libuv
	url = https://github.com/joyent/libuv.git
[submodule "Trololo"]
	path = Trololo
	url = https://github.com/benvh/Trololo.git
[submodule "ttvfs"]
	path = ttvfs
	url = https://github.com/fgenesis/ttvfs.git
[submodule "build"]
	path = build
	url = https://github.com/IngwiePhoenix/build.git
[submodule "libcanister"]
	path = libcanister
	url = https://github.com/coder543/libcanister.git
[submodule "http-parser"]
	path = http-parser
	url = https://github.com/joyent/http-parser.git
[submodule "re2c"]
	path = re2c
	url = git://git.code.sf.net/p/re2c/code-git
[submodule "php-ext/embed2-sapi"]
	path = php-ext/embed2-sapi
	url = https://github.com/basvanbeek/embed2-sapi.git
[submodule "php-ext/v8js"]
	path = php-ext/v8js
	url = https://github.com/preillyme/v8js.git
[submodule "php-ext/pthreads"]
	path = php-ext/pthreads
	url = https://github.com/krakjoe/pthreads.git
[submodule "php-ext/uv"]
	path = php-ext/uv
	url = https://github.com/chobie/php-uv.git
[submodule "php-ext/jsond"]
	path = php-ext/jsond
	url = https://github.com/bukka/php-jsond.git
[submodule "php-ext/yar"]
	path = php-ext/yar
	url = https://github.com/laruence/yar.git
[submodule "php-ext/operator"]
	path = php-ext/operator
	url = https://github.com/php/pecl-php-operator.git
[submodule "curl"]
	path = curl
	url = https://github.com/bagder/curl.git
[submodule "cDetect"]
	path = cDetect
	url = https://github.com/IngwiePhoenix/cDetect.git
[submodule "asbind"]
	path = asbind
	url = https://github.com/cutepig/asbind.git
[submodule "IceTea"]
	path = IceTea
	url = https://github.com/IngwiePhoenix/IceTea.git
[submodule "brightray"]
	path = brightray
	url = https://github.com/brightray/brightray.git
