[submodule "php"]
	path = php
	url = https://github.com/php/php-src.git
[submodule "PHP-CPP"]
	path = PHP-CPP
	url = https://github.com/CopernicaMarketingSoftware/PHP-CPP.git
[submodule "FLTK"]
	path = FLTK
	url = https://github.com/IngwiePhoenix/FLTK.git
[submodule "uvpp"]
	path = uvpp
	url = https://github.com/larroy/uvpp.git
[submodule "libuv"]
	path = libuv
	url = https://github.com/joyent/libuv.git
[submodule "Trololo"]
	path = Trololo
	url = https://github.com/benvh/Trololo.git
[submodule "ttvfs"]
	path = ttvfs
	url = https://github.com/fgenesis/ttvfs.git
[submodule "build"]
	path = build
	url = https://github.com/IngwiePhoenix/build.git
[submodule "libbu"]
	path = libbu
	url = https://github.com/eichlan/libbu.git
[submodule "libcanister"]
	path = libcanister
	url = https://github.com/coder543/libcanister.git
[submodule "http-parser"]
	path = http-parser
	url = https://github.com/joyent/http-parser.git
[submodule "re2c"]
	path = re2c
	url = git://git.code.sf.net/p/re2c/code-git
[submodule "libucl"]
	path = libucl
	url = https://github.com/vstakhov/libucl.git
[submodule "objectscript"]
	path = objectscript
	url = https://github.com/unitpoint/objectscript.git
